@charset "UTF-8";
button, .title1,
.title2,
.subhead1,
.subhead2,
.body1,
.body2,
.label1,
.label2,
.caption1,
.caption2, .display1,
.display2,
.headline1,
.headline2,
.headline3 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
}

.display1.bold,
.display2.bold,
.headline1.bold,
.headline2.bold,
.headline3.bold {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.286;
  font-weight: 700;
}
.display1.medium,
.display2.medium,
.headline1.medium,
.headline2.medium,
.headline3.medium {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.286;
  font-weight: 500;
}
.display1.regular,
.display2.regular,
.headline1.regular,
.headline2.regular,
.headline3.regular {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.286;
  font-weight: 400;
}

.title1.semibold,
.title2.semibold,
.subhead1.semibold,
.subhead2.semibold,
.body1.semibold,
.body2.semibold,
.label1.semibold,
.label2.semibold,
.caption1.semibold,
.caption2.semibold {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 600;
}
.title1.medium,
.title2.medium,
.subhead1.medium,
.subhead2.medium,
.body1.medium,
.body2.medium,
.label1.medium,
.label2.medium,
.caption1.medium,
.caption2.medium {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 500;
}
.title1.regular,
.title2.regular,
.subhead1.regular,
.subhead2.regular,
.body1.regular,
.body2.regular,
.label1.regular,
.label2.regular,
.caption1.regular,
.caption2.regular {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 400;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 15px;
  letter-spacing: 0.0096em;
  line-height: 1.6;
  font-weight: 400;
  color: var(--black);
}
body h1 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 24px;
  letter-spacing: -0.023em;
  line-height: 1.334;
  font-weight: 700;
}
body h2 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 600;
}
body h3 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 20px;
  letter-spacing: -0.012em;
  line-height: 1.4;
  font-weight: 600;
}
body h4 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 17px;
  letter-spacing: 0em;
  line-height: 1.412;
  font-weight: 600;
}
body h5 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0057em;
  line-height: 1.563;
  font-weight: 600;
}
body h6 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 15px;
  letter-spacing: 0.0096em;
  line-height: 1.6;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* ==========================
   스낵바 상태별 스타일 믹스인
   ========================== */
/* ==========================
   컨테이너
   ========================== */
#snackbar-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  gap: 0.625rem;
  top: 3.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
}

/* ==========================
   스낵바 본체
   ========================== */
.snackbar {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 14px;
  letter-spacing: 0.0145em;
  line-height: 1.429;
  font-weight: 500;
  width: fit-content;
  display: flex;
  gap: 3.5rem;
  align-items: center;
  padding: 6px 10px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: var(--shadow-medium);
  background-color: var(--white);
  opacity: 0;
  transform: translateY(-20px);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.snackbar .snackbar__content {
  display: flex;
  align-items: center;
  gap: 5px;
}
.snackbar .snackbar__tailing {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}
.snackbar .snackbar__tailing .snackbar__close-btn:hover {
  background: transparent !important;
}
.snackbar .snackbar__tailing .snackbar__close-btn .icon--x {
  color: var(--gray-100);
}
.snackbar .snackbar__tailing > button:disabled {
  cursor: default;
  color: var(--gray-100);
  opacity: 0.8;
}
.snackbar .snackbar-btn {
  color: var(--gray-100);
  background: transparent !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 6px;
}
.snackbar.show {
  opacity: 1;
  transform: translateY(0);
}
.snackbar.hide {
  opacity: 0;
  transform: translateY(-20px);
}
.snackbar {
  /* 상태별 */
}
.snackbar.caution {
  background-color: rgb(var(--state-caution-500-rgb)/0.78);
  color: var(--white);
}
.snackbar.caution .icon {
  width: 1rem;
  height: 1rem;
  color: var(--white);
}
.snackbar.error {
  background-color: rgb(var(--state-error-500-rgb)/0.78);
  color: var(--white);
}
.snackbar.error .icon {
  width: 1rem;
  height: 1rem;
  color: var(--white);
}
.snackbar.success {
  background-color: rgb(var(--state-success-500-rgb)/0.78);
  color: var(--white);
}
.snackbar.success .icon {
  width: 1rem;
  height: 1rem;
  color: var(--white);
}
.snackbar.info {
  background-color: rgb(var(--state-info-500-rgb)/0.78);
  color: var(--white);
}
.snackbar.info .icon {
  width: 1rem;
  height: 1rem;
  color: var(--white);
}
.snackbar__spinner {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=snackbar.css.map */
