button, .title1,
.title2,
.subhead1,
.subhead2,
.body1,
.body2,
.label1,
.label2,
.caption1,
.caption2, .display1,
.display2,
.headline1,
.headline2,
.headline3 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
}

.display1.bold,
.display2.bold,
.headline1.bold,
.headline2.bold,
.headline3.bold {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.286;
  font-weight: 700;
}
.display1.medium,
.display2.medium,
.headline1.medium,
.headline2.medium,
.headline3.medium {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.286;
  font-weight: 500;
}
.display1.regular,
.display2.regular,
.headline1.regular,
.headline2.regular,
.headline3.regular {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.286;
  font-weight: 400;
}

.title1.semibold,
.title2.semibold,
.subhead1.semibold,
.subhead2.semibold,
.body1.semibold,
.body2.semibold,
.label1.semibold,
.label2.semibold,
.caption1.semibold,
.caption2.semibold {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 600;
}
.title1.medium,
.title2.medium,
.subhead1.medium,
.subhead2.medium,
.body1.medium,
.body2.medium,
.label1.medium,
.label2.medium,
.caption1.medium,
.caption2.medium {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 500;
}
.title1.regular,
.title2.regular,
.subhead1.regular,
.subhead2.regular,
.body1.regular,
.body2.regular,
.label1.regular,
.label2.regular,
.caption1.regular,
.caption2.regular {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 400;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 15px;
  letter-spacing: 0.0096em;
  line-height: 1.6;
  font-weight: 400;
  color: var(--black);
}
body h1 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 24px;
  letter-spacing: -0.023em;
  line-height: 1.334;
  font-weight: 700;
}
body h2 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 22px;
  letter-spacing: -0.0194em;
  line-height: 1.364;
  font-weight: 600;
}
body h3 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 20px;
  letter-spacing: -0.012em;
  line-height: 1.4;
  font-weight: 600;
}
body h4 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 17px;
  letter-spacing: 0em;
  line-height: 1.412;
  font-weight: 600;
}
body h5 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0057em;
  line-height: 1.563;
  font-weight: 600;
}
body h6 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 15px;
  letter-spacing: 0.0096em;
  line-height: 1.6;
  font-weight: 600;
}

a {
  text-decoration: none;
}

button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  white-space: nowrap;
  border: none;
  gap: 4px;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease, filter 0.3s ease;
}
button .icon,
.btn .icon {
  flex-shrink: 0;
}
button.focus-visible, button:focus-visible,
.btn.focus-visible,
.btn:focus-visible {
  outline: 2px solid var(--gray-700);
  outline-offset: 2px;
}

.btn--solid.btn--primary {
  background-color: var(--brand-500);
  color: var(--white);
}
.btn--solid.btn--primary:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--solid.btn--primary:not(:disabled):not([aria-disabled=true]) .icon {
  color: var(--white);
}
.btn--solid.btn--primary:not(:disabled):not([aria-disabled=true]):hover {
  filter: brightness(97%);
}
.btn--solid.btn--primary:not(:disabled):not([aria-disabled=true]):active {
  filter: brightness(95%);
  transform: scale(0.95);
}
.btn--solid.btn--primary:disabled {
  background-color: var(--gray-100);
  color: var(--gray-500);
  cursor: not-allowed;
}
.btn--solid.btn--primary:disabled .icon {
  color: var(--gray-400);
}
.btn--solid.btn--primary[aria-disabled=true] {
  background-color: var(--gray-100);
  color: var(--gray-500);
  cursor: pointer;
}
.btn--solid.btn--primary[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--solid.btn--primary[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--solid.btn--primary[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--solid.btn--secondary {
  background-color: var(--brand-150);
  color: var(--brand-500);
}
.btn--solid.btn--secondary:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--solid.btn--secondary:not(:disabled):not([aria-disabled=true]) .icon {
  color: var(--brand-500);
}
.btn--solid.btn--secondary:not(:disabled):not([aria-disabled=true]):hover {
  filter: brightness(97%);
}
.btn--solid.btn--secondary:not(:disabled):not([aria-disabled=true]):active {
  filter: brightness(95%);
  transform: scale(0.95);
}
.btn--solid.btn--secondary:disabled {
  background-color: var(--gray-100);
  color: var(--gray-500);
  cursor: not-allowed;
}
.btn--solid.btn--secondary:disabled .icon {
  color: var(--gray-400);
}
.btn--solid.btn--secondary[aria-disabled=true] {
  background-color: var(--gray-100);
  color: var(--gray-500);
  cursor: pointer;
}
.btn--solid.btn--secondary[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--solid.btn--secondary[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--solid.btn--secondary[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--solid.btn--neutral {
  background-color: var(--gray-200);
  color: var(--gray-900);
}
.btn--solid.btn--neutral:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--solid.btn--neutral:not(:disabled):not([aria-disabled=true]) .icon {
  color: var(--gray-900);
}
.btn--solid.btn--neutral:not(:disabled):not([aria-disabled=true]):hover {
  filter: brightness(97%);
}
.btn--solid.btn--neutral:not(:disabled):not([aria-disabled=true]):active {
  filter: brightness(95%);
  transform: scale(0.95);
}
.btn--solid.btn--neutral:disabled {
  background-color: var(--gray-100);
  color: var(--gray-500);
  cursor: not-allowed;
}
.btn--solid.btn--neutral:disabled .icon {
  color: var(--gray-400);
}
.btn--solid.btn--neutral[aria-disabled=true] {
  background-color: var(--gray-100);
  color: var(--gray-500);
  cursor: pointer;
}
.btn--solid.btn--neutral[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--solid.btn--neutral[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--solid.btn--neutral[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--outlined.btn--primary {
  background-color: var(--white);
  color: var(--brand-500);
  border: 1px solid var(--brand-500);
}
.btn--outlined.btn--primary .icon {
  color: var(--brand-500);
}
.btn--outlined.btn--primary:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--outlined.btn--primary:not(:disabled):not([aria-disabled=true]):hover {
  background-color: var(--brand-100);
}
.btn--outlined.btn--primary:not(:disabled):not([aria-disabled=true]):active {
  background-color: var(--brand-150);
  transform: scale(0.95);
}
.btn--outlined.btn--primary:disabled {
  background-color: var(--gray-50);
  color: var(--gray-400);
  cursor: not-allowed;
  border-color: var(--gray-200);
  outline-color: var(--gray-200);
}
.btn--outlined.btn--primary:disabled .icon {
  color: var(--gray-400);
}
.btn--outlined.btn--primary[aria-disabled=true] {
  background-color: var(--gray-50);
  color: var(--gray-400);
  cursor: pointer;
  border-color: var(--gray-200);
  outline-color: var(--gray-200);
}
.btn--outlined.btn--primary[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--outlined.btn--primary[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--outlined.btn--primary[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--outlined.btn--secondary {
  background-color: var(--white);
  color: var(--brand-500);
  border: 1px solid var(--gray-250);
}
.btn--outlined.btn--secondary .icon {
  color: var(--brand-500);
}
.btn--outlined.btn--secondary:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--outlined.btn--secondary:not(:disabled):not([aria-disabled=true]):hover {
  background-color: var(--gray-100);
}
.btn--outlined.btn--secondary:not(:disabled):not([aria-disabled=true]):active {
  background-color: var(--gray-150);
  transform: scale(0.95);
}
.btn--outlined.btn--secondary:disabled {
  background-color: var(--gray-50);
  color: var(--gray-400);
  cursor: not-allowed;
  border-color: var(--gray-200);
  outline-color: var(--gray-200);
}
.btn--outlined.btn--secondary:disabled .icon {
  color: var(--gray-400);
}
.btn--outlined.btn--secondary[aria-disabled=true] {
  background-color: var(--gray-50);
  color: var(--gray-400);
  cursor: pointer;
  border-color: var(--gray-200);
  outline-color: var(--gray-200);
}
.btn--outlined.btn--secondary[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--outlined.btn--secondary[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--outlined.btn--secondary[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--outlined.btn--neutral {
  background-color: var(--white);
  color: var(--gray-900);
  border: 1px solid var(--gray-250);
}
.btn--outlined.btn--neutral .icon {
  color: var(--gray-900);
}
.btn--outlined.btn--neutral:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--outlined.btn--neutral:not(:disabled):not([aria-disabled=true]):hover {
  background-color: var(--gray-100);
}
.btn--outlined.btn--neutral:not(:disabled):not([aria-disabled=true]):active {
  background-color: var(--gray-150);
  transform: scale(0.95);
}
.btn--outlined.btn--neutral:disabled {
  background-color: var(--gray-50);
  color: var(--gray-400);
  cursor: not-allowed;
  border-color: var(--gray-200);
  outline-color: var(--gray-200);
}
.btn--outlined.btn--neutral:disabled .icon {
  color: var(--gray-400);
}
.btn--outlined.btn--neutral[aria-disabled=true] {
  background-color: var(--gray-50);
  color: var(--gray-400);
  cursor: pointer;
  border-color: var(--gray-200);
  outline-color: var(--gray-200);
}
.btn--outlined.btn--neutral[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--outlined.btn--neutral[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--outlined.btn--neutral[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--ghost.btn--primary {
  background-color: transparent;
  color: var(--brand-500);
  border: none;
}
.btn--ghost.btn--primary:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--ghost.btn--primary:not(:disabled):not([aria-disabled=true]) .icon {
  color: var(--brand-500);
}
.btn--ghost.btn--primary:not(:disabled):not([aria-disabled=true]):hover {
  background-color: var(--brand-50);
}
.btn--ghost.btn--primary:not(:disabled):not([aria-disabled=true]):active {
  background-color: var(--brand-100);
  transform: scale(0.95);
}
.btn--ghost.btn--primary:disabled {
  background-color: transparent;
  color: var(--gray-400);
  cursor: not-allowed;
}
.btn--ghost.btn--primary:disabled .icon {
  color: var(--gray-400);
}
.btn--ghost.btn--primary[aria-disabled=true] {
  background-color: transparent;
  color: var(--gray-400);
  cursor: pointer;
}
.btn--ghost.btn--primary[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--ghost.btn--primary[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--ghost.btn--primary[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--ghost.btn--neutral {
  background-color: transparent;
  color: var(--gray-900);
  border: none;
}
.btn--ghost.btn--neutral:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--ghost.btn--neutral:not(:disabled):not([aria-disabled=true]) .icon {
  color: var(--gray-900);
}
.btn--ghost.btn--neutral:not(:disabled):not([aria-disabled=true]):hover {
  background-color: var(--gray-100);
}
.btn--ghost.btn--neutral:not(:disabled):not([aria-disabled=true]):active {
  background-color: var(--gray-200);
  transform: scale(0.95);
}
.btn--ghost.btn--neutral:disabled {
  background-color: transparent;
  color: var(--gray-400);
  cursor: not-allowed;
}
.btn--ghost.btn--neutral:disabled .icon {
  color: var(--gray-400);
}
.btn--ghost.btn--neutral[aria-disabled=true] {
  background-color: transparent;
  color: var(--gray-400);
  cursor: pointer;
}
.btn--ghost.btn--neutral[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--ghost.btn--neutral[aria-disabled=true]:hover {
  filter: brightness(98%);
}
.btn--ghost.btn--neutral[aria-disabled=true]:active {
  filter: brightness(95%);
  transform: scale(0.95);
}

.btn--large {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0057em;
  line-height: 1.563;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 12px;
  gap: 4px;
}
.btn--large .icon {
  width: 17px;
  height: 17px;
}
.btn--large.btn--ghost {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0057em;
  line-height: 1.563;
  font-weight: 500;
  padding: 5px 8px;
}

.btn--medium {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 15px;
  letter-spacing: 0.0096em;
  line-height: 1.6;
  font-weight: 600;
  padding: 7px 16px;
  border-radius: 10px;
  gap: 3px;
}
.btn--medium .icon {
  width: 15px;
  height: 15px;
}
.btn--medium.btn--ghost {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 15px;
  letter-spacing: 0.0096em;
  line-height: 1.6;
  font-weight: 500;
  padding: 4px 7px;
}

.btn--small {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 14px;
  letter-spacing: 0.0145em;
  line-height: 1.429;
  font-weight: 600;
  padding: 5px 11px;
  border-radius: 8px;
  gap: 3px;
}
.btn--small .icon {
  width: 13px;
  height: 13px;
}
.btn--small.btn--ghost {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 14px;
  letter-spacing: 0.0145em;
  line-height: 1.429;
  font-weight: 500;
  padding: 3px 6px;
}

.btn--icon-only {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 35%;
  padding: 0.5rem;
}
.btn--icon-only .icon {
  margin: 0;
  width: 1em;
  height: 1em;
}
.btn--icon-only.btn--large {
  padding: 0.75rem;
}
.btn--icon-only.btn--large .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.btn--icon-only.btn--medium {
  padding: 0.625rem;
}
.btn--icon-only.btn--medium .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.btn--icon-only.btn--small {
  padding: 0.5rem;
}
.btn--icon-only.btn--small .icon {
  width: 1rem;
  height: 1rem;
}
.btn--icon-only.btn--custom {
  padding: 0.375rem;
}
.btn--icon-only.btn--custom .icon {
  width: 0.875rem;
  height: 0.875rem;
}

.btn--icon-utility {
  border-style: none;
  background-color: transparent;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease, filter 0.3s ease;
  padding: 0.375rem;
  border-radius: 42%;
}
.btn--icon-utility:not(:disabled):not([aria-disabled=true]) {
  cursor: pointer;
}
.btn--icon-utility:not(:disabled):not([aria-disabled=true]) .icon {
  color: var(--gray-700);
}
.btn--icon-utility:not(:disabled):not([aria-disabled=true]):hover {
  background-color: var(--gray-150);
}
.btn--icon-utility:not(:disabled):not([aria-disabled=true]):active {
  background-color: var(--gray-250);
  transform: scale(0.95);
}
.btn--icon-utility:disabled {
  cursor: not-allowed;
}
.btn--icon-utility:disabled .icon {
  color: var(--gray-400);
}
.btn--icon-utility[aria-disabled=true] {
  cursor: pointer;
}
.btn--icon-utility[aria-disabled=true] .icon {
  color: var(--gray-400);
}
.btn--icon-utility[aria-disabled=true]:hover {
  background-color: var(--gray-100);
}
.btn--icon-utility[aria-disabled=true]:active {
  background-color: var(--gray-150);
  transform: scale(0.95);
}

/*# sourceMappingURL=button.css.map */
